body {
	width: 1200px;
	margin: auto;
}

.logo {
	display: flex;
	justify-content: flex-start;
}

header {
	display: flex;
	justify-content: space-between;
}

.main-text {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
}

.main-text h1 {
	margin: 5px 5px;
	display: flex;
}

.main-text h3 {
	margin: 5px 5px;
}

.messi-pic img {
	width: 1200px;
	margin: auto;
}

hr {
	margin: 5px 0px 30px 0px;
}

.ronaldo-pic img {
	display: flex;
	justify-content: flex-start;
	width: 300px;
}

.alexis-pic img {
	display: flex;
	justify-content: center;
	width: 300px;
}

.pogba-pic img {
	display: flex;
	justify-content: flex-end;
	width: 300px;
}

.featured-players {
	display: flex;
	align-items: row;
	justify-content: space-between;

}

.featured-players h2 {
	text-align: center;
}

footer {
	text-align: center;
}
